*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f0f0f;
    color:white;
    font-family:'Segoe UI', sans-serif;
}

h1{
    text-align:center;
    margin:40px 0;
    font-size:45px;
}

/* Кнопка назад */
.back-btn{
    position: fixed;
    top: 20px;
    left: 20px;

    background: #ff6b00;
    color: white;

    padding: 12px 20px;

    border-radius: 12px;

    text-decoration: none;
    font-weight: bold;

    transition: .3s;

    width: auto; /* важно */
    display: inline-block;
}

.back-btn:hover{
    background:#ff8c2b;
    transform:translateY(-2px);
}

/* Товары */
.cart-item{
    width:800px;
    margin:20px auto;

    background:#1a1a1a;
    border-radius:20px;

    padding:25px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    transition:.3s;
}

.cart-item:hover{
    transform:translateY(-5px);
}

.cart-item h3{
    font-size:24px;
}

.cart-item p{
    color:#ff6b00;
    font-size:22px;
    font-weight:bold;
}

/* Кнопка удаления */
.remove{
    width:45px;
    height:45px;

    background:#ff3b30;
    color:white;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    text-decoration:none;
    font-size:24px;

    transition:.3s;
}

.remove:hover{
    transform:scale(1.1);
}

/* Итог */
.total{
    text-align:center;
    margin-top:40px;

    font-size:35px;
    font-weight:bold;
}

/* Блок снизу */
.cart-footer{
    text-align:center;
    margin-top:40px;
}

/* Кнопка оформления */
.checkout-btn{
    display:inline-block;

    background:#ff6b00;
    color:white;

    padding:12px 25px;

    border-radius:15px;

    text-decoration:none;
    font-size:18px;
    font-weight:bold;

    transition:.3s;
}

.checkout-btn:hover{
    background:#ff8c2b;
    transform:translateY(-3px);
}

.footer{
    text-align:center;

    padding:30px;

    background:#151515;

    margin-top:580px;
}


.A {
    text-align: center;
}