body {
    background-color: black;
}


p {
    color: white;
    text-align: center;
}


h1 {
    color: white;
}

button {
    padding: 10px 30px;
    background-color: #4b4b4b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}



.cart {
    text-align: center;
}

.cart-item {
    margin: 10px 0;
    color: white;
}


.order-button {
    padding: 10px 30px;
    background-color: #4b4b4b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 870px;
    
}
