body{
    background:black;
    color:white;
}

.profile-card{
    width:400px;
    margin:auto;
    margin-top:100px;
    background:#222;
    padding:20px;
    border-radius:20px;
    text-align:center;
}

.avatar{
    width:120px;
    height:120px;
    border-radius:50%;
    margin-bottom:20px;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}