<!-- <h2>Вход</h2>

<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">Войти</button>

    <br><br>

</form>

<a href="/">
    <button>Назад</button>
</a> -->


{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
</head>
<body>

<div class="profile-card">

    <h2>Вход</h2>

    <form method="post">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Войти
        </button>

    </form>

    <br>

    <a href="/">
        <button>
            Назад
        </button>
    </a>

</div>

</body>
</html>