{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ t.cart_title }}</title>

    <link rel="stylesheet" href="{% static 'main/css/cart.css' %}">
</head>
<body>

    <a href="/menu/" class="back-btn">
        ← {{ t.menu }}
    </a>






    <h1>{{ t.cart_title }}</h1>

    {% if cart_items %}

        {% for item in cart_items %}

        <div class="cart-item">

            <div class="dish-info">
                <strong>{{ item.dish.name }}</strong>
                <p>{{ item.dish.price }} ₴</p>
            </div>

            <div class="quantity">

                <a href="{% url 'shopping_cart:decrease_quantity' item.id %}"
                   class="qty-btn">
                    -
                </a>

                <span class="qty-count">
                    {{ item.quantity }}
                </span>

                <a href="{% url 'shopping_cart:increase_quantity' item.id %}"
                   class="qty-btn">
                    +
                </a>

            </div>

            <div class="item-total">
                {{ item.dish.price|floatformat:0 }} ₴ × {{ item.quantity }}
            </div>

                <a href="{% url 'shopping_cart:remove_from_cart' item.id %}"
            class="remove-btn">
                🗑
                </a>

        </div>

        {% endfor %}

    {% else %}

        <h2 class="empty-cart">
            {{ t.empty_cart }}
        </h2>

    {% endif %}

    <div class="cart-footer">

        <h2>
            {{ t.total }}: {{ total }} ₴
        </h2>

        <a href="{% url 'order' %}" class="checkout-btn">
            {{ t.checkout }}
        </a>

    </div>

    <footer class="footer">
        <p>© 2025 Restaurant</p>
    </footer>

</body>
</html>