{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/css/cart.css' %}">
</head>
<body>
    <a href="/menu/" class="back-btn">
    ← Меню
</a>





    

    <div class="cart">
    <h1>Корзина</h1>

    {% for dish in dishes %}
        <div class="cart-item">
            {{ dish.name }} - {{ dish.price }} грн
            <a href="{% url 'shopping_cart:remove_from_cart' dish.id %}" class="remove">
                <button>-</button>
            </a>
        </div>
    {% endfor %}
    </div>


    <!-- {% for dish in dishes %}
    <p>{{ dish.name }} — {{ dish.price }} грн.</p>
    {% endfor %} -->






<div class="cart-footer">

    <h2>Итого: {{ total }} грн</h2>

    <a href="{% url 'order' %}" class="checkout-btn">
        Оформить заказ
    </a>

</div>






</body>
</html>  
