<!-- <form method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <input type="text"
           name="first_name"
           value="{{ user.first_name }}"
           placeholder="Имя">

    <br><br>

    <input type="email"
           name="email"
           value="{{ user.email }}"
           placeholder="Email">

    <br><br>

    <input type="file" name="avatar">

    <br><br>

    <button type="submit">
        Сохранить
    </button>

    <br><br>

    <a href="/profile/" class="Back">
        <button>Назад</button>
    </a>

</form> -->

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Изменить профиль</title>
    <link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
</head>
<body>

<div class="profile-card">

    <h2>Изменить профиль</h2>

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <input type="text"
               name="first_name"
               value="{{ user.first_name }}"
               placeholder="Имя">

        <br><br>

        <input type="email"
               name="email"
               value="{{ user.email }}"
               placeholder="Email">

        <br><br>

        <input type="file" name="avatar">

        <br><br>

        <button type="submit">
            Сохранить
        </button>

    </form>

    <br>

    <a href="/profile/">
        <button>
            Назад
        </button>
    </a>

</div>

</body>
</html>