{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ t.menu }}</title>

    <link rel="stylesheet" href="{% static 'main/css/menu.css' %}">
</head>

<body>

    <div class="top-panel">

    <a href="/" class="back-btn">
        {{ t.home }}
    </a>

    <div class="right-panel">



        <a href="/shopping_cart/" class="cart-btn">
            {{ t.cart }}
        </a>

    </div>

</div>




<div class="menu-title">
    <h1>{{ t.menu }}</h1>
</div>


<div class="categories">

    <a href="?category=all" class="category-btn">
        All
    </a>

    {% for category in categories %}
        <a href="?category={{ category.id }}" class="category-btn">
            {{ category.name }}
        </a>
    {% endfor %}

</div>


<div class="menu">

    {% for dish in dishes %}

    <div class="card">

        <a href="{% url 'dish-detail' dish.id %}" class="card-link">

            <img src="{{ dish.image.url }}" alt="{{ dish.name }}">

            <div class="info">
                <h2>{{ dish.name }}</h2>
            </div>

        </a>

        <div class="bottom">

            <span class="price">
                {{ dish.price }} ₴
            </span>

            <a href="{% url 'shopping_cart:add_to_cart' dish.id %}">
                <button class="plus">+</button>
            </a>

        </div>

    </div>

    {% empty %}

    <h2 class="empty-menu">
        {{ t.no_dishes }}
    </h2>

    {% endfor %}

</div>


<footer class="footer">
    <p>© 2025 Restaurant</p>
</footer>

</body>
</html>