{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ t.order }}</title>

    <link rel="stylesheet" href="{% static 'main/css/order.css' %}">
</head>
<body>

<a href="/shopping_cart/" class="back">
    {{ t.back }}
</a>

<form method="POST" class="order-form">

    {% csrf_token %}

    <h1>{{ t.order }}</h1>

    <input
        type="text"
        name="name"
        placeholder="{{ t.name }}"
        id="name"
        required
    >

    <input
        type="text"
        name="surname"
        placeholder="{{ t.surname }}"
        id="surname"
        required
    >

    <input
        type="text"
        name="address"
        placeholder="{{ t.address }}"
        id="address"
        required
    >

    <input
        type="text"
        name="phone"
        placeholder="{{ t.phone }}"
        id="phone"
        required
    >

    <div class="payment-box">

        <h2>{{ t.payment }}</h2>

        <p>
            {{ t.order_price }}: {{ total }} ₴
        </p>

        <p>
            {{ t.delivery }}: 60 ₴
        </p>

        <p class="total-price">
            {{ t.total }}: {{ total|add:60 }} ₴
        </p>

    </div>

    <button type="submit" class="order">
        {{ t.submit_order }}
    </button>

</form>

<footer class="footer">
    <p>© 2025 Restaurant</p>
</footer>

</body>
</html>