{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ t.profile }}</title>

    <link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
</head>

<body>

<div class="profile-card">

    <h2>{{ t.profile }}</h2>

    {% if user.profile.avatar %}
        <img src="{{ user.profile.avatar.url }}" class="avatar">
    {% endif %}

    <p>{{ t.name }}: {{ user.first_name }}</p>

    <p>{{ t.email }}: {{ user.email }}</p>

    <a href="{% url 'edit_profile' %}">
        <button>{{ t.edit_profile }}</button>
    </a>

    <br><br>

    <a href="{% url 'logout' %}">
        <button>{{ t.logout }}</button>
    </a>

    <br><br>

    <a href="/">
        <button>← {{ t.home }}</button>
    </a>

</div>

</body>
</html>