{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ t.register }}</title>

    <link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
</head>
<body>

<div class="profile-card">

    <h2>{{ t.register }}</h2>

    <form method="post">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            {{ t.register }}
        </button>

    </form>

    <br>

    <a href="/">
        <button>
            ← {{ t.home }}
        </button>
    </a>

</div>

</body>
</html>